@charset "UTF-8";
/*_______________FONTS____________________*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&family=Yellowtail&display=swap");
/*_______________NOOL_STYLE____________________*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #274C5B;
  font-family: 'Roboto';
  background: #fafafa;
}

body._lock {
  overflow: hidden;
}

/*____________________TEXHO BLOK________________*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  padding: 0 30px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 1380px;
  margin: 0px auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*____________________Header________________*/
.header {
  padding-top: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 125;
  background-color: #ffffff;
  height: 100px;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 70px;
}

.header__logo {
  width: 200px;
}

.header__logo img {
  width: 100%;
}

.header__nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
}

.nav {
  padding: 0 15px;
}

.nav__icon {
  display: none;
}

.nav__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 33px;
}

.nav__item {
  height: 33px;
}

.nav__link {
  font-style: normal;
  font-weight: 400;
  font-size: calc(9px + 10 * (100vw / 1380));
  line-height: 32px;
  letter-spacing: 0.36px;
  color: #274C5B;
}

.nav__link:hover {
  color: #7EB693;
}

.nav__item:not(:last-child) {
  margin: 0 40px 0 0;
}

.nav__item:last-child {
  margin: 0  0 0 0;
}

.cart__rov {
  border: 1px solid #D4D4D4;
  border-radius: 33px;
  max-height: 70px;
  max-width: 159px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__img {
  padding: 7px 10px;
}

.cart__counter {
  padding: 7px 30px 7px 10px;
}

/*______________PAGES______________________*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__about {
  padding-top: 65px;
}

/*______________TITLE ______________________*/
.title__title {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: calc(20px + 15 * (100vw / 1380));
  line-height: 180%;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #7EB693;
}

.title__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: calc(30px + 15 * (100vw / 1380));
  line-height: 130%;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274C5B;
}

.welcome__buttom {
  margin-top: 35px;
  max-width: 219px;
  max-height: 82px;
}

.buttom {
  padding: 25px 0px;
  display: block;
}

.button_white {
  color: #274C5B;
  background-color: #FFFFFF;
  border: 1px solid #274C5B;
}

.button_yllou {
  background-color: #EFD372;
  border: 1px solid #EFD372;
  color: #274C5B;
}

.button_grin {
  color: #FFFFFF;
  background-color: #274C5B;
  border: 1px solid #274C5B;
}

.button__grin a:visited {
  color: #FFFFFF;
}

.button__text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 19px;
  line-height: 168%;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  padding-left: 20px;
}

.button__arrou {
  padding: 0;
  display: none;
}

/*_______WELCOME_____________________*/
.welcome {
  background: url("../img/Welcome/BackGround.png") 0 0/cover no-repeat;
}

.welcome__rou {
  padding: 225px 15px 285px 15px;
  max-width: 550px;
}

.welcome__title {
  padding: 15px 0;
}

.welcome__subtitle {
  max-width: 700px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: calc(35px + 35 * (100vw / 1380));
  line-height: 120%;
  letter-spacing: 0.36px;
  text-transform: none;
}

.welcome__button {
  display: block;
  margin-top: 35px;
}

/*___________________PEKLAMA_______________*/
.advertisi__rou {
<<<<<<< HEAD
  margin: 8% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advertisi__colums {
  margin: 0 5px;
  width: 665px;
  height: 378px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advertisi__colums_banan {
  color: #FFFFFF;
  background: url("../img/Advertisi/banan.png") center/contain no-repeat;
}

.advertisi__colums_aprikot {
  background: url("../img/Advertisi/aprikot.png") center/contain no-repeat;
}

.advertisi__texts {
  padding-left: 53px;
  max-width: 370px;
}

.advertisi__title {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: calc(16px + 20 * (100vw / 1380));
  line-height: 180%;
  letter-spacing: 0.36px;
}

.advertisi__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: calc(18px + 22 * (100vw / 1380));
  line-height: 130%;
  letter-spacing: 0.36px;
}

/*______________about ass______________________*/
.about {
  background: #F9F8F8;
  padding: 80px 0;
}

.about__conteiner {
  max-width: 1450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 0 auto;
  position: relative;
}

.about_img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -10%;
}

.about__button {
  margin-top: 50px;
}

.artik {
  z-index: 5;
  padding: 5px;
}

.artik__rous {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 680px;
  height: 238px;
}

.artik__rou {
=======
  margin: 140px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advertisi__colums {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 188px 300px;
}

.advertisi__colums_banan {
  background: url("../img/Advertisi/banan.png") 0 0/contain no-repeat;
}

.advertisi__colums_aprikot {
  background: url("../img/Advertisi/aprikot.png") 0 0/contain no-repeat;
>>>>>>> 6ec97d3 (реклама)
}

/*______________Podval______________________*/
.footer__container {
  margin-top: 150px;
}

.footer__rou {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__colums_title {
  text-align: right;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 140%;
  color: #274C5B;
}

.footer__colums_title-item {
  margin-top: 40px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: right;
  letter-spacing: 0.36px;
  color: #525C60;
}

.footer__colums_subtitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.36px;
  color: #525C60;
}

.footer__colums_center {
  max-width: 670px;
  width: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: solid 1px #D5D5D5;
  border-left: solid 1px #D5D5D5;
}

.footer__colums_text {
  max-width: 567px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  text-align: center;
  letter-spacing: 0.36px;
  color: #525C60;
}

.footer__colums_iconImg {
  padding-left: 15px;
}

.footer__colums_right {
  text-align: left;
}

.footer__colums_title-right {
  padding-bottom: 20px;
}

.footer__colums_items {
  padding-bottom: 24px;
}

.footer__colums_listLink {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.36px;
  color: #525C60;
}

.footer__subfooter {
  margin-top: 70px;
}

.subfooter_autor {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 180% */
  text-align: center;
  letter-spacing: 0.36px;
  color: #525C60;
}

.subfooter__rou {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 45px;
}

/*______MEDIA ____________________*/
@media (max-width: 1400px) {
  .windows__old-prais {
    letter-spacing: 0.20px;
    font-size: 15px;
  }
  .windows__nev-prais {
    letter-spacing: 0.20px;
    font-size: 15px;
  }
  .welcome {
    background: url("../img/Welcome/BackGround.png") 60%/cover no-repeat;
  }
  .about_img {
    opacity: 0.8;
  }
}

@media (max-width: 960px) {
  .nav__item:not(:last-child) {
    margin: 0 15px 0 0;
  }
  .advertisi__rou {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advertisi__colums {
    margin-top: 25px;
    padding: 15px 15px;
    width: 665px;
    height: 378px;
  }
  .about_img {
    left: 0;
    opacity: 0.8;
  }
}

@media (max-width: 767px) {
  .button {
    max-width: 200px;
    max-height: 70px;
  }
  .button__arrou {
    padding: 0 9px  0 10px;
  }
  .nav__icon {
    left: 35%;
  }
  .artik__text {
    padding-left: 20px;
  }
  .artik__text-title {
    font-size: 23px;
    color: #172c35;
  }
  .artik__text-subtitle {
    font-size: 15px;
    color: #172c35;
  }
  .artik__rou-img {
    width: 20%;
  }
  .button {
    padding: 20px 0px;
  }
  .title__title {
    font-size: calc(20px + (15 + 15 * 0.7 ) * ((100vw - 375px) / 1380));
  }
  .title__subtitle {
    font-size: calc(30px + (15 + 15 * 0.7 ) * ((100vw - 375px) / 1380));
  }
  .title__subtitle_waet {
    color: #FFFFFF;
  }
  .title__text {
    max-width: 680px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: calc(14px + (4 + 4 * 0.7)* ((100vw - 375px) / 1380));
  }
  .welcome__subtitle {
    font-size: calc(35px + (35 + 35 * 0.7 )* ((100vw - 375px) / 1380));
  }
  .cart__img {
    position: fixed;
    overflow: visible;
  }
  .nav__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #eeee;
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .nav__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    background: url("../img/Nav/logo2.png") 10% 0%/contain no-repeat;
    background-color: #274C5B;
  }
  .nav__body._active {
    left: 0;
  }
  .nav__list > li {
    margin: 0px 0px 30px 0px;
  }
  .nav__list > li:last-child {
    margin-bottom: 0;
  }
  .nav__link {
    font-size: 24px;
  }
  .nav__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .nav__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .nav__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .nav__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .nav__icon span, .nav__icon::before, .nav__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #EFD372;
  }
  .nav__icon::before, .nav__icon::after {
    content: "";
  }
  .nav__icon::before {
    top: 0;
  }
  .nav__icon::after {
    bottom: 0;
  }
  .nav__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
}

@media (max-width: 550px) {
  .advertisi__rou {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 700px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .advertisi__colums {
    padding: 15px 15px;
    width: 400px;
    height: 200px;
  }
  .artik__text {
    padding-left: 20px;
  }
  .artik__text-title {
    font-size: 22px;
    color: #172c35;
  }
  .artik__text-subtitle {
    font-size: 14px;
    color: #172c35;
  }
  .artik__rou-img {
    width: 18%;
  }
}

@media (min-width: 767px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__link > li {
    padding: 10px 0;
  }
}

/*__________________PODBAJI PODBAJIA =) ______________*/
/*# sourceMappingURL=style.css.map */