/*_______________FONTS____________________*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&family=Yellowtail&display=swap");
/*_______________NOOL_STYLE____________________*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: #274C5B;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #274C5B;
  font-family: 'Roboto';
  background: #fafafa;
}

/*____________________TEXHO BLOK________________*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  padding: 0 30px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 1380px;
  margin: 0px auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*____________________Header________________*/
.header {
  max-height: 152px;
}

.header__container {
  margin-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 300px) minmax(365px, 600px) auto;
      grid-template-columns: minmax(200px, 300px) minmax(365px, 600px) auto;
}

.header__logo {
  -ms-grid-column-align: start;
      justify-self: start;
}

.header__cart {
  -ms-grid-column-align: end;
      justify-self: end;
}

.nav__rov {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav__item {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.36px;
}

.nav__link {
  color: #7EB693;
}

.nav__link:hover {
  color: #7EB693;
}

.nav__item:not(:last-child) {
  margin: 0 40px 0 0;
}

.nav__item:last-child {
  margin: 0  0 0 20px;
}

.cart__rov {
  border: 1px solid #D4D4D4;
  border-radius: 33px;
  max-height: 70px;
  max-width: 159px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__img {
  padding: 7px 10px;
}

.cart__counter {
  padding: 7px 30px 7px 10px;
}

/*______________PAGES______________________*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__welcome {
  margin-top: 40px;
  max-width: 100%;
  background: url("../img/Welcome/BackGround.png") 0 0/100% auto no-repeat;
}

/*______________WELCOME ______________________*/
.welcome__rou {
  padding: 225px 15px 285px 15px;
  max-width: 525px;
}

.welcome__text {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 180%;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #7EB693;
  padding: 15px 0;
}

.welcome__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 125%;
  letter-spacing: 0.36px;
}

.welcome__buttom {
  margin-top: 35px;
}

.buttom {
  max-width: 300px;
  max-height: 82px;
  padding: 25px 0px;
  display: inline-block;
  border-radius: 16px;
}

.buttom_yllou {
  background: #EFD372;
  border: 1px solid #EFD372;
  color: #274C5B;
}

.buttom_grin {
  color: #FFFFFF;
  background: #274C5B;
  border: 1px solid #274C5B;
}

.buttom__text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 19px;
  line-height: 168%;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  padding-left: 20px;
}

.buttom__arrou {
  padding: 0 9px  0 20px;
}

/*___________________PEKLAMA_______________*/
.advertisi__rou {
  margin: 140px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advertisi__colums {
  width: 665px;
  height: 378px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.advertisi__colums_banan {
  color: #FFFFFF;
  background: url("../img/Advertisi/banan.png") 0 0/contain no-repeat;
}

.advertisi__colums_aprikot {
  background: url("../img/Advertisi/aprikot.png") 0 0/contain no-repeat;
}

.advertisi__texts {
  padding-left: 53px;
  max-width: 320px;
}

.advertisi__title {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 180%;
  letter-spacing: 0.36px;
}

.advertisi__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.36px;
}

/*______________about ass______________________*/
.about__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__colum-img {
  padding: 0 30px;
}

.about__colum-texts {
  max-width: 675px;
}

.title__title {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 180%;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #7EB693;
}

.title__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 130%;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274C5B;
}

.title__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.36px;
  color: #525C60;
}

/*______________Podval______________________*/
/*# sourceMappingURL=style.css.map */