@charset "UTF-8";
/*_______________FONTS____________________*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&family=Yellowtail&display=swap");
/*_______________NOOL_STYLE____________________*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #274C5B;
  font-family: 'Roboto';
  background: #fafafa;
}

/*____________________TEXHO BLOK________________*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  padding: 0 30px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 1380px;
  margin: 0px auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*____________________Header________________*/
.header {
  max-height: 152px;
}

.header__container {
  margin-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 300px) minmax(365px, 600px) auto;
      grid-template-columns: minmax(200px, 300px) minmax(365px, 600px) auto;
}

.header__logo {
  -ms-grid-column-align: start;
      justify-self: start;
}

.header__cart {
  -ms-grid-column-align: end;
      justify-self: end;
}

.nav__rov {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav__item {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.36px;
}

.nav__link {
  color: #7EB693;
}

.nav__link:hover {
  color: #7EB693;
}

.nav__item:not(:last-child) {
  margin: 0 40px 0 0;
}

.nav__item:last-child {
  margin: 0  0 0 20px;
}

.cart__rov {
  border: 1px solid #D4D4D4;
  border-radius: 33px;
  max-height: 70px;
  max-width: 159px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__img {
  padding: 7px 10px;
}

.cart__counter {
  padding: 7px 30px 7px 10px;
}

/*______________PAGES______________________*/
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__welcome {
  margin-top: 40px;
  max-width: 100%;
}

.page__about {
  padding-top: 65px;
}

/*______________TITLE ______________________*/
.title__title {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 180%;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #7EB693;
}

.title__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 130%;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #274C5B;
}

.title__text {
  max-width: 680px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0.36px;
  color: #525C60;
}

/*_________________buttonS__________*/
.button {
  max-width: 300px;
  max-height: 82px;
  padding: 25px 0px;
  display: inline-block;
  border-radius: 16px;
}

.button_yllou {
  background: #EFD372;
  border: 1px solid #EFD372;
  color: #274C5B;
}

.button_grin {
  color: #FFFFFF;
  background: #274C5B;
  border: 1px solid #274C5B;
}

.button__grin a:visited {
  color: #FFFFFF;
}

.button__text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 19px;
  line-height: 168%;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  padding-left: 20px;
}

.button__arrou {
  padding: 0 9px  0 20px;
}

/*_______WELCOME_____________________*/
.welcome {
  background: url("../img/Welcome/BackGround.png") 0 0/100% auto no-repeat;
}

.welcome__rou {
  padding: 225px 15px 285px 15px;
  max-width: 525px;
}

.welcome__text {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 180%;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #7EB693;
  padding: 15px 0;
}

.welcome__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 125%;
  letter-spacing: 0.36px;
}

.welcome__button {
  margin-top: 35px;
}

/*___________________PEKLAMA_______________*/
.advertisi__rou {
  margin: 140px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advertisi__colums {
  width: 665px;
  height: 378px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.advertisi__colums_banan {
  color: #FFFFFF;
  background: url("../img/Advertisi/banan.png") 0 0/contain no-repeat;
}

.advertisi__colums_aprikot {
  background: url("../img/Advertisi/aprikot.png") 0 0/contain no-repeat;
}

.advertisi__texts {
  padding-left: 53px;
  max-width: 320px;
}

.advertisi__title {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 180%;
  letter-spacing: 0.36px;
}

.advertisi__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.36px;
}

/*______________about ass______________________*/
.about {
  background: #F9F8F8;
  padding: 80px 0;
}

.about__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__img {
  padding: 0 20px;
}

.about__button {
  margin-top: 50px;
}

.artik__rous {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 680px;
  height: 238px;
}

.artik__text-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.36px;
  color: #274C5B;
}

.artik__text-subtitle {
  margin-top: 10px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0.36px;
  color: #525C60;
}

/*_____________ORGANIK______________________*/
.organic {
  padding: 50px 0;
}

.organic__title {
  max-width: 290px;
  margin: 0 auto;
  text-align: center;
}

.organic__galeri {
  margin-top: 50px;
}

.galeri {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(390px, 450px) minmax(390px, 450px) minmax(390px, 450px);
      grid-template-columns: minmax(390px, 450px) minmax(390px, 450px) minmax(390px, 450px);
  justify-items: center;
  gap: 30px 20px;
}

.windows {
  background: #F9F8F8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.windows__items::after {
  content: " ";
  display: block;
  width: 100%;
  border-bottom: 2px solid #D4D4D4;
  margin: 0 auto;
}

.windows__items {
  margin: 30px;
}

.windows__items-bottom {
  padding: 5px 20px;
  background: #274C5B;
  border-radius: 8px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 180%;
  letter-spacing: 0.36px;
  color: #FFFFFF;
}

.windows__items-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  letter-spacing: 0.36px;
  color: #274C5B;
}

.windows__prais {
  margin: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
}

.windows__old-prais {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 191%;
  letter-spacing: 0.36px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #B8B8B8;
}

.windows__nev-prais {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0.36px;
  color: #274C5B;
}

.start {
  color: #FFA858;
  font-size: 23px;
}

.start__items {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.start_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.start__body {
  margin: 0 0 5px 20px;
}

.start__body::before {
  content: "★★★★★";
}

/*______________Podval______________________*/
/*# sourceMappingURL=style.css.map */