/*_______________FONTS____________________*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&family=Yellowtail&display=swap');


/*_______________NOOL_STYLE____________________*/
*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	
}

a{text-decoration: none;
}
ul,
ol,
li{
	list-style: none;
}
img{
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: inherit;
	font-size: inherit;
}
html,body{
	height: 100%;	
	line-height: 1;
	font-size: 16px;
	color: #274C5B;
	font-family: 'Roboto';
	background : #fafafa;
}
body._lock{
	overflow: hidden;
}
/*____________________TEXHO BLOK________________*/
.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction:column;
}
._container{
	padding: 0 30px;
	box-sizing: content-box;
	max-width: 1380px;
	margin: 0px auto;
}
._ibg{
	position: relative;
}
._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	object-fit:cover;
}
/*____________________Header________________*/

.header {	
		padding-top: 15px;	
	    position: fixed;
		 top: 0;
		 left: 0;
		 width: 100%;
		 z-index: 125;
		 background-color:#ffffff;
		 height: 100px;

		&__container {	
			max-width: 1200px;
			margin: 0 auto;			
			display: flex;
			padding: 0px 30px ;
			align-items: center;
			justify-content: space-between;
			min-height: 70px;
		
		} 
		&__logo{	
			width: 200px;
			& img{
				width: 100%;
			}
		}
		&__nav {
			align-self:center;
			flex: 1 1 75%;
			}
		&__cart {}
}
.logo {
		&__link {
		}
		&__img {
		}
}
.nav {

	padding: 0 15px;
	  	&__icon{
		display: none;
		}
		&__body{	}
		&__list {
			justify-content: center;						
			height: 33px;			
		}
		&__item {	
			height: 33px;		
		}
	&__link {
		font-style: normal;
		font-weight: 400;
		font-size: calc(9px + 10 * (100vw / 1380));
		line-height: 32px;
		letter-spacing: 0.36px;		
		color: #274C5B;;
	}
	&__link:hover {
		color: #7EB693;
	}
	&__item:not(:last-child){
		margin: 0 40px 0 0;
	}
	&__item:last-child{
		margin: 0  0 0 0;
	}
}
.cart {	

	&__rov {
		border: 1px solid #D4D4D4;   
		border-radius: 33px;
		max-height: 70px ;
		max-width: 159px;
		display: flex;
		justify-content: space-around;
		align-items: center;
			}
		
	&__img {  
		padding: 7px 10px;
	}
	&__text {	
	}
	&__counter {
		padding: 7px 30px 7px 10px;		
	}
}


/*______________PAGES______________________*/
.page {
	flex: 1 1 auto ;

		&__welcome {		
					
	}
		&__advertisi{

	}
		&__about {
			padding-top: 65px;	
		}

		&__organic {
		}
		&__testimonial {
		}
		&__offer {
		}
		&__eccofrendli {
			
		}
		&__food {
		}
		&__nevs {
		}
		&__subscribe {
		}
}
/*______________TITLE ______________________*/

.title {
	&__title {
		font-family: 'Yellowtail';
		font-style: normal;
		font-weight: 400;
		font-size: calc(20px + 15 * (100vw / 1380));
		line-height: 180%;
		letter-spacing: 0.36px;
		text-transform: capitalize;
		color: #7EB693;

		
	}	&__subtitle {
					
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: calc(30px + 15 * (100vw / 1380));
		line-height: 130%;
		letter-spacing: 0.36px;
		text-transform: capitalize;
		color: #274C5B;
		&_waet{
			color: #FFFFFF;
		}
	}
	&__text {
		max-width: 680px;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: calc(12px + 6 * (100vw / 1380));
		line-height: 180%;
		letter-spacing: 0.36px;
		color: #525C60;	
	}
}
/*_________________buttonS__________*/
.button {	
	padding:0px 0px;	
	border-radius: 16px;	
	width: 240px;	
	background: url('../img/AboutAss/arou.svg') 120% /  50% 50% no-repeat;
	padding: 20px 5px;
	display: block;
	&_white{
		color: #274C5B;
		background-color: #FFFFFF;
		border: 1px solid #274C5B;			
	}
	&_yllou{
		background-color: #EFD372;
		border: 1px solid #EFD372;
		color: #274C5B;
	}
	&_grin{
		color: #FFFFFF;
		background-color: #274C5B;
      border: 1px solid #274C5B;
	}
	&__grin a:visited {
		color: #FFFFFF;
	}
	&__text {		
		font-family: 'Roboto';	
		font-weight: 400;
		font-size: 19px;
		line-height: 168%;		
		letter-spacing: 0.36px;
		text-transform: capitalize;		
		padding-left: 20px;			
		}
	&__arrou {
		padding:0;
		display: none;
	}
	
}
/*_______WELCOME_____________________*/
.welcome {	
	background: url("../img/Welcome/BackGround.png") 0 0 / cover  no-repeat;	  	
	&__container {		
		
	}
	&__rou {
		padding:225px 15px 285px 15px ;
		max-width: 550px;		
	}
	&__title {		
		padding: 15px 0;
	}
	&__subtitle {
		max-width: 700px;			
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: calc(35px + 35 * (100vw / 1380));
		line-height: 120%;		
		letter-spacing: 0.36px;	
		text-transform: none;				
	}

	&__button {
		display: block;
		margin-top: 35px; 
	}
}
/*___________________PEKLAMA_______________*/

.advertisi {
	&__conteiner {		
	}
	&__rou {		
		margin: 8% 0;
		display: flex;		
	   width: 100%;
		justify-content: space-between;		
	}
	&__colums {	
		margin: 0 5px;		
		width:665px ;
		height: 378px;		
		display: flex;
		flex-direction: column;
		justify-content: center;
		
		&_banan {	
			color: #FFFFFF;			
			background: url("../img/Advertisi/banan.png") center / contain no-repeat; 			
		}
		&_aprikot {			
			background: url("../img/Advertisi/aprikot.png") center/ contain   no-repeat;				
		}
	}
	&__texts {
		padding-left: 53px;
		max-width: 370px;	
		
	}

	&__title {
		font-family: 'Yellowtail';
		font-style: normal;
		font-weight: 400;
		font-size: calc(16px + 20 * (100vw / 1380));
		line-height: 180%;		
		letter-spacing: 0.36px;			
	}

	&__text {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: calc(18px + 22 * (100vw / 1380));
		line-height: 130%;
		letter-spacing: 0.36px;
		
	
		
	}
}
/*______________about ass______________________*/
.about {
		background: #F9F8F8;
		padding: 80px 0;

	&__conteiner {			
		max-width: 1450px;			
		display: flex;
		justify-content:end;
		margin: 0 auto;
		position: relative;
		
	}
	&_img{			
		position: absolute;
		width: 100%;
	  	height: 100%;
	 	top: 0;
	  	left: -10%;		
	}
	&__artik {			
		}	
	&__button {
		margin-top:50px ;
	}
	
}

.artik {
	z-index: 5;
	padding: 5px;
	&__bg{

	}

	&__rous {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;		
		max-width: 680px;		
		height: 238px;	
	}
	&__rou {				
		display: flex;	
	}
	&__rou-img {
		float: left;		
	}
	&__text {	
		padding-left: 20px;
		}
	&__text-title {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 25px;
		line-height: 140%;		
		letter-spacing: 0.36px;		
		color: #274C5B;
		max-height: 100%;
	}

	&__text-subtitle {
		margin-top: 10px;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 180%;	
		letter-spacing: 0.36px;		
		color: #525C60;
		max-height: 100%;
	}
}

/*_____________ORGANIK______________________*/

.organic {
	padding: 100px 0;

	&__container {

	}

	&__title {		
		max-width: 290px;
		margin: 0 auto;
		text-align: center;
		}

	&__galeri {
		margin-top:50px ;
	}
}
.galeri {
	display: grid ;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;

	justify-items: center;
	gap: 30px 20px;	

	&__windows {		
	}
}
.windows {		
	background: #F9F8F8;	
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;

	&__container{			
		
	}
	&__items::after{
		content: " ";	
		display: block;	
		width: 100%;
  		border-bottom: 2px solid #D4D4D4;
		margin: 0 auto;

			}

	&__items {	
		margin: 30px 30px 0 30px;
		
	}

	&__items-bottom {			
		padding: 5px 20px;		
		background: #274C5B;
		border-radius: 8px;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 15px;
		line-height: 180%;
		letter-spacing: 0.36px;
		color: #FFFFFF;
	}
	&__items-img {	
		display: block;	
		width: 100%;
		
	}

	&__items-description {		
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 22px;
		line-height: 160%;		
		letter-spacing: 0.36px;		
		color: #274C5B;	
		padding-bottom: 13px;
	}
	&__prais-contei{	
		

	}

	&__prais {			
		display: flex;
		justify-content: center;
		width: 87%;		
	}
	&__old-prais {		
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 17px;
		line-height: 191%;	
		letter-spacing: 0.36px;
		text-decoration-line: line-through;		
		color: #B8B8B8;	
			
	}

	&__nev-prais {		
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 180%;		
		letter-spacing: 0.36px;		
		color: #274C5B;

	}

	&__start {
		
		
	}
}

.start {

	color: #FFA858;
	font-size: 23px;	

	&__items {		
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;

	}

	&_item {
		flex: 0 0 20%;
		height: 100%;
		opacity: 0;
	}

	&__body {
		margin:0 0 5px 20px ;		
		
	}
	&__body::before{
		content: "★★★★★";
		
		
	}

	&__aktiv {
	}	

	&__value {
	}
}


/*_____________________RESPONS_____________*/

.testimonial {
	background: url(../img/Testimor/CinaLimon.jpg) 0 0/  cover  no-repeat;   

	&__container {
		max-width: 1078px;
		width: 100%;
		box-sizing: content-box;	
		margin: 0px auto;
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	&__title {
		text-align: center;
		margin-top :130px ;
		
	}

	&__response {
		 
		text-align: center;
		margin-top: 57px;	
			&::after{
				content: " ";		
				display: block;	
				width: 100%;
				  border-bottom: 2px solid #D4D4D4;
				 margin: 0 auto;
				 padding: 50px 0;
			}	
	}

	&__circle {	
		margin-top:85px; 
		padding-bottom: 150px;
		
	}
}

.response {

	&__profil {
	}

	&__text {		
	
font-family: 'Open Sans';
font-weight: 400;
font-size: 18px;
line-height: 180%;
letter-spacing: 0.36px;
color: #525C60;
max-width: 950px;
		
	}

	&__name {		
	}
}
.profil {
	

	&__foto {
		
	}

	&__stars {
		margin:18px 18px 0 0 ;
		font-size: 30px;

		 

	}
}
/*
.start {

	&_item {
	}

	&__body {
	}

	&__aktiv {
	}

	&__items {
	}
}
*/
.name {
	margin-top: 15px;

	&__name {
		font-family: 'Roboto';
font-weight: 700;
font-size: 26px;
line-height: 130%;
letter-spacing: 0.36px;

	}

	&__position {
		
		font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 193%;
text-align: center;
letter-spacing: 0.36px;
color: #525C60;
	}
}
.circle {
	
	&__rou {	
		width: 100%;
		display: flex;	
		justify-content: space-between;

	}

	&__wrapper1 {
		border: 6px solid #7EB693;
		border-radius: 200px;
	}

	
	&__items {
		width: 200px;
		height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: #F1F1F1;
		border: 6px solid #FFFFFF;
		border-radius: 200px;		
	}

	&__items-figures {
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 55px;
text-align: center;
letter-spacing: 0.36px;
color: #274C5B;
	}

	&__items-texs {
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 32px;
text-align: center;
letter-spacing: 0.36px;
color: #274C5B;
	}
}
/*____________________Offer_________________*/

.offer {
	background: #274C5B;

	&__container{
	padding: 140px 0;

	}

	&__rou {		
		display: flex;
		justify-content: space-between;
	}

	&__title {
	}

	&__windowsRou {
		margin-top: 60px;
		display: grid;
		grid-template-columns: minmax(390px,450px) minmax(390px,450px) minmax(390px,450px);
		gap: 20px;
	}

	&__windows {
		
	}
	&__button{
		align-self:flex-end;
	}
}


/*_______+
.windows {

	&__container {
	}

	&__items {
	}

	&__items-bottom {
	}

	&__items-img {
	}

	&__items-description {
	}

	&__prais {
	}

	&__old-prais {
	}

	&__nev-prais {
	}

	&__stars {
	}
}
*/


/*___________________ECCO_______________________*/

.eccofrendli {
	background: #FFFFFF;

	&__container {
		max-width: 1440px;
		width: 100%;		
		display:flex;
		margin: 0 auto;
		justify-content: center	
	
		
	}

	&__leftSaid {
	}

	&__rightSaid {
	}
}
.leftSaid {

	&__img {
		float: left;

		z-index: 1;
	}
}

.rightSaid {
	max-height: 704px;

	&__column {
		position: relative;
	
		max-width: 720px;
		max-height: 635px;
		
		height: 100%;
		width: 100%;
		margin: 39px 0px 39px -60px;
		z-index: 40;
		background: #FFFFFF;		
		border-radius: 30px 0px 0px 30px;
		padding-left :65px ;
		}

	&__title {
		padding-top: 35px;
	}

	&__list {
		padding-bottom: 45px;

	}

	&__list-title {	
		padding-top: 9px;
	font-family: 'Roboto';
	font-weight: 700;
font-size: 23px;
line-height: 32px;
letter-spacing: 0.36px;
text-transform: capitalize;
color: #274C5B;

		&:first-child{
			padding-top: 25px;}

		
	}
	&__list-subtitle {
		padding-top:4px ;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 32px;		
		letter-spacing: 0.36px;		
		color: #525C60;				
	}
}

/*______________________FOOD____________________*/




.food {
	background: #EFF6F1;

	&_colums {
	}

	&__container {	
	box-sizing: content-box;
	max-width: 1440px;
	margin: 0px auto;
	}

	&__rou {		
		box-sizing:content-box;
		padding: 140px 15px;
		display: flex;
	   width: 100%;
		justify-content: space-between;

	}
	&__colums {
		width: 460px;
		height: 580px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&_banan { background: url("../img/Food/Juse.jpg") 0 0/ contain no-repeat; 		
		}

		&_cucember {background: url("../img/Food/coocember.jpg") 0 0/ contain no-repeat; 		
		}

		&_cookis {background: url("../img/Food/cookes.jpg") 0 0/ contain no-repeat; 
		}
	}

	&__button {
	}
}

.button-white {
	max-width: 340px;	
	max-height: 95px;
	padding:25px 0px;
	display:inline-block;	
	

	&__text {
		padding: 30px 79px;
		font-family: "Roboto";
		background: #FFFFFF;		
		color: #274C5B;
		font-weight: 700;
		font-size :25px;
		line-height: 35px;		
		text-align: center;		
		border-radius: 20px;
	}
}

/*______________________NEWS________________*/

.nevs {

	&__container {
		padding: 120px 0;
	}

	&__top-rou {
		display: flex;
		justify-content: space-between;
	}

	&__title {
	}

	&__button {
		align-self: flex-end;
	}

	&__bottom-rou {
		margin-top:100px ;
		box-sizing:content-box;		
		display: flex;
	   width: 100%;
		justify-content: space-between;
	}

	&__colums {
		width: 670px;
		height: 517px;		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__bg {
		

		&_salat {background: url("../img/News/Salat.jpg") 0 0/ contain no-repeat;
			
		}

		&_tomat {background: url("../img/News/Tomato.jpg") 0 0/ contain no-repeat;
		}
	}

	&__item {
		margin-bottom: -310px;
	}
}


.itemNevs {
	box-sizing: border-box;
	width: 620px;
	height: 337px;
background: #FFFFFF;
box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.14);
border-radius: 30px;
padding: 50px;


	&__name {
		background: url("../img/News/Avatar.svg") 0 0/ contain no-repeat;		
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 17px;
		line-height: 23px;		
		letter-spacing: 0.36px;		
		padding-left: 26px;
		
	}

	&__title {
		margin-top: 25px;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 25px;
		line-height: 140%;		
		letter-spacing: 0.36px;				
	}

	&__text {
		margin-top: 35px;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 180%;
		letter-spacing: 0.36px;
		color: #525C60;
		max-width: 400px;
	}

	&__link {
		background: url("../img/News/Arou.svg") right/ contain no-repeat;		
		width: 140px;
		display: inline-block;	
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 140%;		
		letter-spacing: 0.36px;	
		margin-top: 25px;	

		 &:visited{
			 color: #274C5B;			 
		 }
		}
}

/*_________________SABMIT_________________*/


.subscribe {

	&__contaner {
	}

	&__form {
		
	}

	&__bg {
		margin: 0 auto;		
		width: 1380px;
		height: 320px;	
		background: url("../img/Sab/BG.jpg") 0 0/ contain no-repeat;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 70px;

	}

	&__text {
		display: inline-block;
		width: 380px;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 50px;
		line-height: 60px;		
		letter-spacing: 0.36px;
		text-transform: capitalize;		
		color: #FFFFFF;
	}

	&__fild {
		border-radius: 16px;
		padding: 25px 100px 25px 30px;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 29px;	
		letter-spacing: 0.36px;		
		color: #525C60;
	}

	&__button {	
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 29px;	
		width: 197px;					
		letter-spacing: 0.36px;		
		color: #FFFFFF;				
		background:url(../img/Sab/ARROU.svg) 150px 27px no-repeat;
		background-color: #274C5B;		
		padding-right: 35px;
	}
	&__form{

	}
}

/*______________Podval______________________*/

.footer {

	&__container {	
		margin-top: 150px;		
			}

	&__rou {

		display: flex;
		justify-content: space-between;	
	}

	&__colums {

		&_left {
			
				
		}

		&_title {
			text-align: right;			
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			font-size: 30px;
			line-height: 140%;		
			color: #274C5B;			
			

		}

		&_infoblok {
			
		}

		&_title-item {
			margin-top: 40px;
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 32px;			
			text-align: right;
			letter-spacing: 0.36px;			
			color: #525C60;
		}

		&_subtitle {
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 23px;				
			letter-spacing: 0.36px;			
			color: #525C60
		}

		&_email {
			
		}

		&_phone {
			
		}

		&_address {
		}

		&_center {                  

			max-width: 670px;				
			width: 670px;
			display: flex;
			flex-direction: column;
			justify-content:space-around;
			align-items: center;
			border-right:solid 1px #D5D5D5;
			border-left:solid 1px #D5D5D5;
		}

		&_logo {
		}

		&_logo-link {
		}

		&_logo-img {
		}

		&_text {			
			max-width: 567px;
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 180%;					
			text-align: center;
			letter-spacing: 0.36px;			
			color: #525C60;
			
		}
              
		&_iconRow {
			
			
		}

		&_iconLink {
		}

		&_iconImg {
			padding-left: 15px;
		}

		&_right {
			text-align: left;
		}

		&_title-right {
			padding-bottom: 20px;
		}

		&_list {			
		}
		&_items {
			padding-bottom: 24px;
			
		}


		&_listLink {
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 29px;			
			letter-spacing: 0.36px;			
			color: #525C60;
		
		}
	}

	&__subfooter {
		margin-top:70px ;
	}
}

.subfooter {
	

	&_autor {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 32px;
		/* identical to box height, or 180% */
		
		text-align: center;
		letter-spacing: 0.36px;
		
		color: #525C60;
	}

	&__rou {
		display: flex;
		justify-content: center;
		margin-left: 45px;
			
	}
}


/*______MEDIA ____________________*/
@media  (max-width: 1400px) {

	.windows {
		&__prais {
		

			}
		&__old-prais {
			letter-spacing: 0.20px;
			font-size: 15px;
			}
		&__nev-prais{
			letter-spacing: 0.20px;
			font-size: 15px;
		 }
	}
	.welcome {	
		background: url("../img/Welcome/BackGround.png") 60% / cover  no-repeat;
	}	
	.about {
		
	&__conteiner {			
			
	}
	&_img{		
		opacity: 0.8;	
	}
	&__artik {			
		}	
	&__button {		
	}	
}
}

@media  (max-width: 960px) {

	.nav {
		&__item:not(:last-child){
			margin: 0 15px 0 0;
		}
		
	}
	.advertisi {

		&__rou{	
		flex-wrap: wrap;
		justify-content: center;	
		
			
		}	
		&__colums{
			margin-top:25px;
			padding: 15px 15px;
			width:665px ;
		   height: 378px;		
		}			
	}
	.about {
		
		&__conteiner {			
				
		}
		&_img{	
			left: 0;	
			opacity: 0.8;	
		}
		&__artik {			
			}	
		&__button {		
		}	
	}
	
}
@media  (max-width: 767px) {
	.button {
	max-width: 200px;	
	max-height: 70px;
	
	&__arrou {
		padding:0 9px  0 10px;

	}
	}

	.nav {
		&__icon{
			left: 35%;
			
			}	

	}

.artik {	
	
	
	&__text {	
		padding-left: 20px;
		}
	&__text-title {
		
		font-size: 23px;
		color: #172c35;		
	}

	&__text-subtitle {		
		font-size: 15px;
		color: #172c35;	
	}
	&__rou-img {
		width: 20%;
	}
}	
	
	.button {		
		padding:20px 0px;		
	}
	.title {
		&__title {
			
			font-size: calc(20px + (15 + 15 * 0.7 ) * ((100vw - 375px) / 1380));
				}
		&__subtitle {		
			font-size: calc(30px + (15 + 15 * 0.7 ) * ((100vw - 375px) / 1380));				
	
			&_waet{
				color: #FFFFFF;
	
			}
		}
		&__text {
			max-width: 680px;
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 400;
			font-size: calc(14px + (4 + 4 * 0.7)* ((100vw - 375px) / 1380));
					}
	}
	.welcome{
		&__subtitle{
			font-size:calc(35px + (35 + 35 * 0.7 )* ((100vw - 375px) / 1380));
		}
	}
	.cart{		
		&__img {
			position: fixed;
			overflow: visible;
		}			
	}	

	.nav{
		&__body{
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background: #eeee;
			padding: 100px 30px 30px 30px;
			transition: left 0.3s ease 0s ;
			overflow: auto;		
		}
		
		&__body::before{
			content: "";
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			height: 100px;		
			background: url("../img/Nav/logo2.png")  10% 0% / contain no-repeat;
			background-color: #274C5B;
				
			
		}
		&__body._active{
			left: 0 ;
		}
		&__list > li{
			margin:0px 0px 30px 0px ;
		}
		&__list > li:last-child{
			margin-bottom: 0;
		}
		&__link{
			font-size: 24px ;
		}
		&__icon{	
				
			z-index: 5;
			display: block;
			position: relative;
			width: 30px;
			height: 18px ;
			cursor: pointer;			
		}
		&__icon._active{}

		&__icon._active span{
			transform:  scale(0) translate(0px,-50%);
		}
		&__icon._active::before{
			top: 50%;
			transform: rotate(-45deg) translate(0px,-50%);
		}
		&__icon._active::after{
			bottom: 50%;
			transform:  rotate(45deg) translate(0px,50%);
		}
		
		&__icon span,		
		&__icon::before,
		&__icon::after{
			left: 0;			
			position: absolute;
			height: 10%;
			width: 100%;
			transition: all 0.3s ease 0s ;
			background-color: #EFD372;			
		}	
		&__icon::before,
		&__icon::after{
			content:"";
		}	
		&__icon::before{
			top:0;
		}
		&__icon::after{
			bottom: 0;
		}	
		&__icon span{
			top:50%;
			transform: scale(1) translate(0px,-50%);		
		}			
	}

}
@media  (max-width: 550px) {
	.advertisi{
		&__rou {
		flex-wrap: wrap;
		justify-content: center;
		height: 700px;	
		align-items: flex-start;				
		}	
		&__colums{				
			padding: 15px 15px;
			width:400px ;
		   height: 200px;	
		}
	}

	.artik {	
		&__text {	
			padding-left: 20px;
			}
		&__text-title {
			
			font-size: 22px;
			color: #172c35;		
		}
	
		&__text-subtitle {		
			font-size: 14px;
			color: #172c35;	
		}
		&__rou-img {
			width: 18%;
		}
	}
}		
@media (max-width: 320px) {}
@media  (min-width: 767px) {


	.nav{
			&__list{
			display: flex;
			align-items: center;
		}
			&__link>li{
			padding: 10px 0;
		}
	}	

	
}

/*__________________PODBAJI PODBAJIA =) ______________*/




