/*_______________FONTS____________________*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&family=Yellowtail&display=swap');


/*_______________NOOL_STYLE____________________*/
*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	
}

a{text-decoration: none;

}

ul,
ol,
li{
	list-style: none;
}
img{
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: inherit;
	font-size: inherit;
}
html,body{
	height: 100%;	
	line-height: 1;
	font-size: 16px;
	color: #274C5B;
	font-family: 'Roboto';
	background : #fafafa;
}
/*____________________TEXHO BLOK________________*/
.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction:column;
}
._container{
	padding: 0 30px;
	box-sizing: content-box;
	max-width: 1380px;
	margin: 0px auto;
}
._ibg{
	position: relative;
}
._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	object-fit:cover;
}
/*____________________Header________________*/

.header {	
	    max-height: 152px;	

		&__container {	
			margin-top:40px;			
			align-items:center;			
			height: 72px;
			display: grid;	
			grid-template-columns:minmax(200px,300px) minmax(365px,600px)  auto ;				
		}

		&__logo {
			justify-self: start;
				}
		&__nav {	
		}
		&__cart {	
			justify-self: end;				
		}
}
.logo {
		&__link {
		}
		&__img {
		}
}
.nav {
		&__rov {
			display: flex;
			justify-content: flex-start;			
		}

		&__item {	
	font-style: normal;
	font-weight: 400;
	font-size: 19px;
	line-height: 32px;
	letter-spacing: 0.36px;			
		}
	&__link {
		color: #274C5B;;
	}
	&__link:hover {
		color: #7EB693;
	}
	&__item:not(:last-child){
		margin: 0 40px 0 0;
	}
	&__item:last-child{
		margin: 0  0 0 20px;
	}
}

.cart {
	

	&__rov {
		border: 1px solid #D4D4D4;   
		border-radius: 33px;
		max-height: 70px ;
		max-width: 159px;
		display: flex;
		justify-content: space-around;
		align-items: center;
			}
		
	&__img {  
		padding: 7px 10px;
	}
	&__text {	
	}
	&__counter {
		padding: 7px 30px 7px 10px;		
	}
}


/*______________PAGES______________________*/
.page {
	flex: 1 1 auto ;

		&__welcome {
		margin-top:40px;
		max-width: 100%;				
	}
		&__advertisi{

	}
		&__about {
			padding-top: 65px;	
		}

		&__organic {
		}
		&__testimonial {
		}
		&__offer {
		}
}
/*______________TITLE ______________________*/

.title {
	&__title {
		font-family: 'Yellowtail';
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: 180%;
		letter-spacing: 0.36px;
		text-transform: capitalize;
		color: #7EB693;
	}
	&__subtitle {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 45px;
		line-height: 130%;
		letter-spacing: 0.36px;
		text-transform: capitalize;
		color: #274C5B;

		&_waet{
			color: #FFFFFF;

		}
	}
	&__text {
		max-width: 680px;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 180%;
		letter-spacing: 0.36px;
		color: #525C60;	
	}
}
/*_________________buttonS__________*/
.button {
	max-width: 300px;	
	max-height: 82px;
	padding:25px 0px;
	display:inline-block;
	border-radius: 16px;
	&__white{

	}

	&_yllou{
		background: #EFD372;
		border: 1px solid #EFD372;
		color: #274C5B;
	}
	&_grin{
		color: #FFFFFF;
		background: #274C5B;
      border: 1px solid #274C5B;
	}
	&__grin a:visited {
		color: #FFFFFF;
	}
	&__text {		
		font-family: 'Roboto';	
		font-weight: 400;
		font-size: 19px;
		line-height: 168%;		
		letter-spacing: 0.36px;
		text-transform: capitalize;		
		padding-left: 20px;
		}
	&__arrou {
		padding:0 9px  0 20px;
	}
}
/*_______WELCOME_____________________*/

.welcome {

	background: url("../img/Welcome/BackGround.png") 0 0/ 100% auto  no-repeat;   	
	&__container {
	}
	&__rou {
		padding:225px 15px 285px 15px ;
		max-width: 525px;
	}
	&__text {
		font-family:'Yellowtail';
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: 180%;		
		letter-spacing: 0.36px;
		text-transform: capitalize;		
		color: #7EB693;
		padding: 15px 0;
	}
	&__title {		
		font-weight: 700;
		font-size: 70px;
		line-height: 125%;
		letter-spacing: 0.36px;			
	}

	&__button {
		margin-top: 35px; 
	}
}
/*___________________PEKLAMA_______________*/

.advertisi {
	&__conteiner {		
	}
	&__rou {
		margin: 140px 0;
		display: flex;		
	   width: 100%;
		justify-content: space-between;		
	}
	&__colums {			
		width:665px ;
		height: 378px;		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		&_banan {	
			color: #FFFFFF;			
			background: url("../img/Advertisi/banan.png") 0 0/ contain no-repeat; 			
		}
		&_aprikot {			
			background: url("../img/Advertisi/aprikot.png") 0 0/ contain   no-repeat;				
		}
	}
	&__texts {
		padding-left: 53px;
		max-width: 320px;		
	}

	&__title {
		font-family: 'Yellowtail';
		font-style: normal;
		font-weight: 400;
		font-size: 36px;
		line-height: 180%;		
		letter-spacing: 0.36px;			
	}

	&__text {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 40px;
		line-height: 130%;
		letter-spacing: 0.36px;
	}
}
/*______________about ass______________________*/
.about {
		background: #F9F8F8;
		padding: 80px 0;

	&__conteiner {
		display: flex;
		justify-content: center;
	}
	&__img {		
		padding: 0 20px;
	}

	&__artik {
		
		}	
	&__button {
		margin-top: 50px;
	}
}

.artik {

	&__rous {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;		
		max-width: 680px;		
		height: 238px;
	
	}
	&__rou {	
			
		display: flex;		

	}
	&__rou-img {
		float: left;		
	}
	&__text {	
		padding-left: 20px;
		}
	&__text-title {
			font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 25px;
		line-height: 140%;		
		letter-spacing: 0.36px;		
		color: #274C5B;
	}

	&__text-subtitle {
		margin-top: 10px;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 180%;	
		letter-spacing: 0.36px;		
		color: #525C60;
	}
}

/*_____________ORGANIK______________________*/

.organic {
	padding: 100px 0;

	&__container {

	}

	&__title {		
		max-width: 290px;
		margin: 0 auto;
		text-align: center;
		}

	&__galeri {
		margin-top:50px ;
	}
}
.galeri {
	display: grid ;
	grid-template-columns:minmax(390px,450px) minmax(390px,450px)minmax(390px,450px) ;
	justify-items: center;
	gap: 30px 20px;	

	&__windows {		
	}
}
.windows {		
	background: #F9F8F8;	
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;

	&__container{			
		
	}
	&__items::after{
		content: " ";	
		display: block;	
		width: 100%;
  		border-bottom: 2px solid #D4D4D4;
		margin: 0 auto;

			}

	&__items {	
		margin: 30px 30px 0 30px;
		
	}

	&__items-bottom {			
		padding: 5px 20px;		
		background: #274C5B;
		border-radius: 8px;
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 15px;
		line-height: 180%;
		letter-spacing: 0.36px;
		color: #FFFFFF;
	}

	&__items-img {
		
		
	}

	&__items-description {		
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 22px;
		line-height: 160%;		
		letter-spacing: 0.36px;		
		color: #274C5B;	
		padding-bottom: 13px;
	}
	&__prais-contei{	
		

	}

	&__prais {	
		margin: 10px 30px 0 30px;		
		display: flex;
		justify-content: space-between;
		width: 87%;			
	
	}
	&__old-prais {		
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 400;
		font-size: 17px;
		line-height: 191%;	
		letter-spacing: 0.36px;
		text-decoration-line: line-through;		
		color: #B8B8B8;	
			
	}

	&__nev-prais {		
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 180%;		
		letter-spacing: 0.36px;		
		color: #274C5B;

	}

	&__start {
		
	}
}

.start {

	color: #FFA858;
	font-size: 23px;	

	&__items {		
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;

	}

	&_item {
		flex: 0 0 20%;
		height: 100%;
		opacity: 0;
	}

	&__body {
		margin:0 0 5px 20px ;		
		
	}
	&__body::before{
		content: "★★★★★";
		
		
	}

	&__aktiv {
	}	

	&__value {
	}
}


/*_____________________RESPONS_____________*/

.testimonial {
	background: url(../img/Testimor/CinaLimon.jpg) 0 0/  cover  no-repeat;   ;

	&__container {
		max-width: 1078px;
		width: 100%;
		box-sizing: content-box;	
		margin: 0px auto;
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	&__title {
		text-align: center;
		margin-top :130px ;
		
	}

	&__response {
		 
		text-align: center;
		margin-top: 57px;	
			&::after{
				content: " ";		
				display: block;	
				width: 100%;
				  border-bottom: 2px solid #D4D4D4;
				 margin: 0 auto;
				 padding: 50px 0;
			}	
	}

	&__circle {	
		margin-top:85px; 
		padding-bottom: 150px;
		
	}
}

.response {

	&__profil {
	}

	&__text {		
	
font-family: 'Open Sans';
font-weight: 400;
font-size: 18px;
line-height: 180%;
letter-spacing: 0.36px;
color: #525C60;
max-width: 950px;
		
	}

	&__name {		
	}
}
.profil {
	

	&__foto {
		
	}

	&__stars {
		margin:18px 18px 0 0 ;
		font-size: 30px;

		 

	}
}
/*
.start {

	&_item {
	}

	&__body {
	}

	&__aktiv {
	}

	&__items {
	}
}
*/
.name {
	margin-top: 15px;

	&__name {
		font-family: 'Roboto';
font-weight: 700;
font-size: 26px;
line-height: 130%;
letter-spacing: 0.36px;

	}

	&__position {
		
		font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 193%;
text-align: center;
letter-spacing: 0.36px;
color: #525C60;
	}
}
.circle {
	
	&__rou {	
		width: 100%;
		display: flex;	
		justify-content: space-between;

	}

	&__wrapper1 {
		border: 6px solid #7EB693;
		border-radius: 200px;
	}

	
	&__items {
		width: 200px;
		height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: #F1F1F1;
		border: 6px solid #FFFFFF;
		border-radius: 200px;		
	}

	&__items-figures {
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 55px;
text-align: center;
letter-spacing: 0.36px;
color: #274C5B;
	}

	&__items-texs {
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 32px;
text-align: center;
letter-spacing: 0.36px;
color: #274C5B;
	}
}
/*____________________Offer_________________*/

.offer {
	background: #274C5B;

	&__container{
	padding: 140px 0;

	}

	&__rou {
		
		display: flex;
		justify-content: space-between;
	}

	&__title {
	}

	&__windowsRou {
		margin-top: 60px;
		display: grid;
		grid-template-columns: minmax(390px,450px) minmax(390px,450px) minmax(390px,450px);
		gap: 20px;
	}

	&__windows {
		
	}
	&__button{
		align-self:flex-end;

	}

}



.windows {

	&__container {
	}

	&__items {
	}

	&__items-bottom {
	}

	&__items-img {
	}

	&__items-description {
	}

	&__prais {
	}

	&__old-prais {
	}

	&__nev-prais {
	}

	&__stars {
	}
}



/*______________Podval______________________*/
.footer {
}




